* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    cursor: pointer;
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.video-container {
    width: 70%
}

.sidebar {
    background-color: #971010;
    padding: 0;
    width: 25%;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .video-container {
        width: 80%;
    }

    .sidebar {
        width: 100%;
        margin-top: 1rem;
    }
}